<table class="table">
  <thead>
  <tr>
    <th>Имя</th>
    <th>Телефон</th>
    <th>Дата</th>
    <th>Мвстер</th>
    <th>Цвет</th>
  </tr>
  </thead>
  <%# @db.execute 'select * from Users order by id desc' do |row| %>
  <% @booking.each do |row| %>
    <tr>
      <td><a href="/bookings/<%= row.id %>"> <%=row.name %></a></td>
      <td><%=row.phone %></td>
      <td><%=row.datestamp %></td>
      <td><%=row.barber %></td>
      <td style="background-color: <%=row.color %>"></td>
    </tr>
  <% end %>