<h1> Information of the booking of <%= @client.name %></h1>

<table class="table">
  <thead>
  <tr>
    <th>Имя</th>
    <th>Телефон</th>
    <th>Дата</th>
    <th>Мастер</th>
    <th>Цвет</th>
  </tr>
  </thead>
  <% row = @client %>
    <tr>
<!--      <td><a href="/bookings/<%#= row.id %>"> <%#=row.name %></a></td>-->
      <td> <%=row.name %></td>
      <td><%=row.phone %></td>
      <td><%=row.datestamp %></td>
      <td><%=row.barber %></td>
      <td style="background-color: <%=row.color %>"></td>
    </tr>
  <%# end %>